.banner {
  padding: 2.5rem 2rem;
  background: var(--cor-gradiente);
  color: var(--branco);
  text-align: center;
}

.banner__titulo {
  font-size: 1.25rem;
  font-weight: 700;
}

.banner__texto {
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.banner__pesquisa {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--branco);
  border-radius: 1.5rem;
  padding: 1rem;
  color: var(--branco);
}

.banner__pesquisa::placeholder {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  background-image: url("../assets/Lupa.svg");
  background-repeat: no-repeat;
  background-position: 1.75rem;
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 5rem 2rem;
  }

  .banner__titulo {
    font-size: 2.25rem;
  }

  .banner__pesquisa {
    width: 50%;
  }

  .banner__pesquisa::placeholder {
    font-size: 1rem;
    font-weight: 400;
    background-position: 4rem;
  }
}

@media screen and (min-width: 1728px) {
  .banner__pesquisa {
    width: 35%;
  }

  .banner__pesquisa::placeholder {
    background-position: 7rem;
  }
}