.carrossel__titulo {
  padding: 1rem 0 0.5rem 0;
  background-color: var(--branco);
  color: var(--cor-titulo-primaria);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 0.5rem 0;
}

.card {
  background-color: var(--branco);
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.65rem;
  margin: 1rem;
  padding: 1rem;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.descricao__avaliacao {
  margin-bottom: 0.5rem;
}

.descricao__titulo {
  color: var(--cor-titulo-primaria);
  font-weight: 700;
}

.descricao__titulo-livro {
  color: var(--cor-titulo-secundaria);
  font-size: 1.15rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.descricao__texto {
  font-size: 0.85rem;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
}

.botoes__item {
  margin: 0 0.5rem;
}

.botoes__ancora {
  background-color: var(--cor-titulo-primaria);
  padding: 1rem 2.2rem;
  color: var(--branco);
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    padding: 3rem 0 1rem 0;
    font-size: 1.6rem;
  }

  .swiper {
    width: 60%;
  }

  .swiper-pagination {
    margin: 2rem 0 3rem 0;
  }

  .swiper-wrapper {
    gap: 1rem;
  }

  .swiper-slide img {
    width: 80%;
  }

  .card {
    width: 40%;
    margin: 3rem auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .carrossel__container {
    display: flex;
    margin: 0 20vw 3rem 20vw;
    align-items: center;
  }

  .swiper {
    width: 50%;
  }

  .swiper-pagination {
    margin: 1rem 0;
  }

  .swiper-wrapper {
    gap: 0;
  }

  .swiper-slide img {
    width: 100%;
  }

  .card {
    width: 60%;
    margin-left: 3rem;
  }

  .descricao {
    margin-right: 1.5rem;
  }

  .descricao__titulo {
    font-size: 1.75rem;
  }

  .descricao__texto {
    font-size: 1rem;
    margin-top: 1rem;
  }
}
