.contato {
  background-color: var(--branco);
  padding: 1rem;
}

.contato__titulo,
.contato__texto {
  background: var(--cor-gradiente);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contato__titulo {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.contato__texto {
  font-weight: 300;
  margin: 1rem 0;
}

.contato__email {
  width: 90%;
  padding: 1rem;
  border: 1px solid var(--cor-titulo-secundaria);
  border-radius: 1.5rem;
  color: var(--cor-titulo-secundaria);
}

.contato__email::placeholder {
  font-family: var(--fonte-principal);
  color: var(--cor-titulo-secundaria);
  background: url("../assets/Email.svg") no-repeat;
  padding-left: 2rem;
}

@media screen and (min-width: 1024px) {
  .contato {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 8rem;
    gap: 5rem;
  }

  .contato__descricao {
    margin-right: 1rem;
    width: 40%;
  }

  .contato__titulo {
    font-size: 1.5rem;
  }

  .contato__email {
    width: 40%;
  }
}

@media screen and (min-width: 1728px) {
  .contato {
    padding: 3rem 28vw;
    gap: 2rem;
  }

  .contato__descricao {
    margin-right: 0;
    width: 85%;
  }

  .contato__email {
    width: 65%;
  }
}