hr {
  margin: 0;
}

.rodape {
  background-color: var(--branco);
  padding: 1rem;
}

.lista-rodape {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0;
  }

  .rodape__titulo {
    font-size: 1.5rem;
  }

  .lista-rodape {
    display: block;
  }

  .lista-rodape__titulo {
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
    color: var(--cor-titulo-rodape);
    text-transform: uppercase;
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.6rem 0;
  }

  .lista-rodape__link {
    font-size: 0.85rem;
    color: var(--cor-texto-rodape);
    text-decoration: none;
  }
}

@media screen and (min-width: 1728px) {
  .rodape {
    padding: 5rem 0;
    margin: 0;
  }

  .lista-rodape {
    border-left: 1px solid var(--cor-titulo-rodape);
    padding-left: 1rem;
  }
}